@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    height: 45rem;
}

/*************TOP SECTION*******************/

#text_one h1 {
    font-size: 5rem;
    margin-top: 1.5rem;
}
#text_one h3, p {
    font-size:1rem;
    margin: 1.5rem 0 1.5rem 0;
}
.orange_color{
    color:orange;
}
.sec_one{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.sec_one img {
    width: 100%;
    margin-top: 10rem;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 1.2rem 1.5rem;
    border-radius: 1.5rem;
    color: white;
    font-weight: bold;
}
.link_button:hover {
    background-image: linear-gradient(lightsalmon, tomato);
}

/**************MIDDLE SECTION******************/

.sec_two{
    width: 40%;
    float: right;
    margin-left: 5%;
    margin-top: 10rem;
    padding-left: 5%;
}

#text_two {
    margin-top: 10rem;
}
#text_two h2{
    font-weight: bold;
    font-size: 2rem;
}
#text_two h3{
    margin-top: 2rem;
}

.sec_two img {
    width: 80%;
}

.resume_button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 1.2rem 1.5rem;
    border-radius: 1.5rem;
    color: white;
    font-weight: bold;
}
.resume_button:hover {
    background-image: linear-gradient(lightsalmon, tomato);
}

.middle_banner{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


/**********************BOTTOM SECTION**************************/

.sec_three{
    width: 35%;
    float: left;
    margin: 5%;
    padding:2%;
}

.sec_three{
    box-shadow: 1rem 1rem 5rem grey;
    border-radius: 0.5rem;
    background-color: white;
}
.bottom_banner{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.bottom_banner h2{
    font-size:2rem;
    font-weight:bold;
}

#full_stack{
    border-left: 0.5rem solid;
    border-image:linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#baby_web{
    border-left: 0.5rem solid;
    border-image:linear-gradient(45deg, blue, cyan);
    border-image-slice: 1;
}



footer{
    text-align:center;
}